.header__lang-link {
  max-width: 30px;
  /* max-height: 28px; */
  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 117%;
  text-decoration: none;
}

@media screen and (max-width: 320px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 111%;
    max-width: 22px;
    max-height: 20px;
  }
}
