.intro__list{
  list-style: none;
  margin-top: 33px;
}


@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
  .intro__list{
    margin-top: 34px;
  }
}
