.cover__subtitle {
  z-index: 1;

  max-width: 360px;

  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 114%;
    max-width: 288px;
  }
}
