/* like grid */
.place__text {
  grid-area: text;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  row-gap: 26px;
}

/* like flex */
/* .places__text{
  grid-area: text;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  max-width: 100%;
} */


@media screen and (max-width: 768px) {
  .place__text {
    row-gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .place__text {
    margin-left: 16px;
  }
}
