.lead__title {
  max-width: 720px;
  word-break: break-word;
  margin: 0 auto;

  font-family: Inter, Arial;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .lead__title {
    max-width: 288px;
    /* max-height: 88px; */
    font-size: 40px;
    line-height: 110%;
  }
}
