.lead__title{
  max-width: 720px;
  height: 200px;

  margin: 0 auto;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 104%;
  text-align: center;
}


@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
  .lead__title{
    width: 288px;
    height: 88px;
    font-size: 40px;
    line-height: 110%;
  }
}
