.footer__links {
  display: flex;
  flex-direction: row;
  gap: 18px;
  list-style: none;
  /* grid-area: footer__links; */
}

@media screen and (max-width: 320px) {
  .footer__links {
    flex-direction: column;
    gap: 32px;
  }
}
