.intro__text {
  margin: 0;
  padding: 0;
  
  max-width: 100%;
  margin-top: 40px;

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 163%;
}

@media screen and (max-width: 320px) {
  .intro__list-text {
    max-width: 288px;
  }
}
