.intro__text{
max-width: 100%;
/* max-height: 208px; */

margin-top: 40px;

font-family: Inter, Arial;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 163%;
}


@media screen and (max-width: 1024px){

}
@media screen and (max-width: 768px){

}
@media screen and (max-width: 320px){
  .intro__list-text{
    max-width: 288px;
    max-height: 520px;
  }
}
