.lead__subtitle {
  max-width: 640px;
  /* max-height: 72px; */

  margin: 32px auto 0;

  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    max-width: 288px;
    /* max-height: 40px; */
    margin: 16 auto 0;
    font-size: 16px;
    line-height: 125%;
  }
}
