.cover {
  margin: 92px 48px 0;
  max-width: 1184px;
  background-image: url(../../src/images/cover-trains.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: stretch;
}

.cover:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  padding-top: 62.6%;
}

@media screen and (max-width: 1024px) {
  .cover {
    margin: 92px 0 0;
    max-width: 1024px;
  }
}
@media screen and (max-width: 768px) {
  .cover {
    margin: 63px 0 0;
    max-width: 768px;
  }
}
@media screen and (max-width: 320px) {
  .cover {
    margin: 50px 0 0;
    max-width: 320px;
  }
}
