.places__url-heading{
  max-width: 100%;
  height: 12px;

  font-family: Inter, Arial;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;

  /* line-height: 12px; */
  /* identical to box height, or 100% */

  letter-spacing: 2px;
  color: #AAAAAA;
}


@media screen and (max-width: 1024px){

}

@media screen and (max-width: 768px){
  .places__url-heading{
    line-height: 100%;
  }
}

@media screen and (max-width: 320px){
}