.intro__title {
  max-width: 100%;
  /* max-height: 58px; */

  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 107%;
}

@media screen and (max-width: 320px) {
  .intro__title {
    /* height: 70px; */
    font-size: 32px;
    line-height: 109%;
  }
}
